#card {
    height: 330px;
}

.col-md-8{
   margin-top: 15%;
}


@media screen and (max-width: 1080px) {
    #card {
       height: 325px;
    }
 }
 @media screen and (max-width: 851px) {
    #card {
       height: 360px;
    }
 }
 @media screen and (max-width: 780px) {
    #card {
       height: 380px;
    }
 }
 @media screen and (max-width: 767px) {
    #card {
       height: 500px;
    }
 }
 @media screen and (max-width: 705px) {
    #card {
       height: 520px;
    }
    .col-md-8{
      margin-top: 0%;
   }
 }